.app-container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.category-list-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
    background-color: darkgray;
}

.root-category {
    border: 2px solid black;
    font-size: 10px;
}

.root-category:hover {
    cursor: pointer;
    background-color: gray;
}

.category {
    border: 2px solid black;
    font-size: 10px;
}

.category:hover {
    cursor: pointer;
    background-color: gray;
}